label{
    font-weight: bolder;       
   }


select {
    text-transform: none;
    max-width: 100%;
    width: 344px;
    border: solid 1px;
    padding: 6px;
    border-style: dotted;
    border-radius: 6px;
}