// .form-width{
//     max-width: 100%;
//     width: 700px;
// }

// .form-control{
//     padding-left: 5px;
//     padding-right:2px;
// } 

.button-align{
    display: flex;
    justify-content: end;

}
.header-color{
background-color: black;
}
